<div class="row list-group-item clearfix">
    <h3 >

        <div class="pull-right">
            <button class="btn btn-primary ">Edit</button>
            <button class="btn btn-danger ">Delete</button>
        </div>
        {{selectedContact?.name}}
    </h3>
    <hr/>

    <div class="row ">

        <div class="col-md-5">
            <img src="{{selectedContact?.imageUrl}}" alt="" class="img-responsive">
        </div>
        <p>Email: {{selectedContact?.email}}</p>
        <p>Phone: {{selectedContact?.phone}}</p>
    </div>

</div>